.main-container{
    display: flex;
    flex-direction: column;
    height:100vh;
	background: #f6f7fb;
}
.img-container{
    display: flex;
    justify-content: flex-end;
}
.container{
    height: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 20px;
	display: -ms-flexbox;
	display: flex;
	overflow: auto;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.product{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:250px;
    border-radius: 6px;
    margin:20px 20px;
    padding:15px;
    &:hover{
        cursor: pointer;
    }
}
.title{
    margin: 0px 0px 20px 0px;
}
.imgAddProduct{
    width: 40px;
    height: 40px;
    margin:10px 40px 0px 0px;
    &:hover{
        cursor: pointer;
    }
}

/* Dialog styles */

.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top:20px;
}

.dialog-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.text-fields-container{
    display: flex;
    flex-direction: column;
}